div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
table {
  font-size: 20px;
}

.judul {
  padding: 10px;
  border: none;
  font-size: 30px;
}
.judul2 {
  border: none;
  padding-top: 10px;
  padding-bottom: 20px;
}
td {
  margin: 10px;
  border: none;
  padding: 5px;
}
input[type='text'] {
  padding: 10px;
  width: 490px;
  border-style: solid;
  border-color: rgb(197, 197, 197);
  font-size: 16px;
  border-radius: 5px;
}
input[type='text']:disabled {
  background-color: white;
}
button {
  width: 150px;
  height: 40px;
  background-color: rgb(125, 3, 219);
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
